<h1> Info </h1>


<p> Note: The geographic subdivisions seen in the visualization are Census Block Groups,
  <br> which are "smallest geographical unit for which the [U.S. Census Bureau] publishes sample data." </p>

<br>
<br>

<p> Created with <a href="https://d3js.org/" target="_blank">D3</a> and vanilla JavaScript with the help of
  <a href="https://flickity.metafizzy.co/" target="_blank">Flickity.</a></p>
<p> Map data taken from <a href="http://data.beta.nyc/dataset/2010-census-block-groups-polygons" target="_blank">data.betaNYC.</a> </p>
<p> Map data sourced from <a href="https://www.census.gov/geo/maps-data/data/cbf/cbf_blkgrp.html" target="_blank">2010 Census.</a> </p>
<p> Taxi data can be downlaoded <a href="/taxiC.csv">here.</a> </p>

<br>
<br>

<p> Created by Thomas Guo <br> for the Stern Program for Undergraduate Research @NYU <br> under the supervision of Professor Kristen Sosulski <p>
<p> You can find my github <a href="https://github.com/tommyguo" target="_blank">here!</a> </p>
<p> And view the code <a href="https://github.com/tommyguo/taxi" target="_blank">here!</a> </p>

<p> If you have any questions, reach me at tommyguo97@gmail.com </p>

<p> <br><br><br><br><a href="/">Take me back to the visualization!</a> </p>
